<html>

{% if stats.description %}
<h3>Description</h3>
{{stats.description}}
{% endif %}

<hr>         
    <table align=center width=95%>
        <thead>
            <tr>
                <th>AC</th>
                <th>HP</th>
                <th>Speed</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td align=center>{{stats.ac}}</td>
                <td align=center>{{stats.hp}}</td>
                <td align=center>{{stats.speed}}</td>
            </tr>
        </tbody>
    </table>
<hr>

<h3>Actions</h3>
<br>
{% if stats.melee_attacks %}
    {% for name, details in stats.melee_attacks.items(): %}
        <strong>{{name.capitalize()}}:</strong> melee weapon attack, {{details["hit"]}} to hit, reach {{details["reach"]}}, {{details["targets"]}}. Hit damage: {{details["damage"]}}.
        {% if "info" in details %}
            {{details["info"]}}
        {% endif %}
        <br>
        <br>
    {% endfor %}
{% endif %}

{% if stats.ranged_attacks %}
    {% for name, details in stats.ranged_attacks.items(): %}
        <strong>{{name.capitalize()}}:</strong> ranged weapon attack, {{details["hit"]}} to hit, range {{details["range"]}}, {{details["targets"]}}. Hit damage: {{details["damage"]}}.
        {% if "info" in details %}
            {{details["info"]}}
        {% endif %}
        <br>
        <br>
    {% endfor %}
{% endif %}

{% if stats.multiattack %}
    <strong>Multiattack:</strong> {{stats.multiattack}}
    <br>
    <br>
{% endif %}

{% if stats.other_actions %}
    {% for name, text in stats.other_actions.items() %}
        <strong>{{name.capitalize()}}:</strong> {{text}}
        <br>
        <br>
    {% endfor %}
{% endif %}

{% if stats.ability %}
<h3>Abilities</h3>

<hr>         
    <table align=center width=95%>
        <thead>
            <tr>
                {% for ability, score in stats.ability.items(): %}
                    <th>{{ ability }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for ability, score in stats.ability.items(): %}
                <td align=center>{{score}} ({{"{:+}".format(stats.calculate_ability_modifier(score))}})</td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
<hr>
{% endif %}

{% if stats.saving_throws %}
<h3>Saving throws</h3>

<hr>
    <table align=center width=95%>
        <thead>
            <tr>
                {% for stat, throw in stats.saving_throws.items(): %}
                    <th>{{ stat }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for stat, throw in stats.saving_throws.items(): %}
                <td align=center>{{throw}}</td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
<hr>
{% endif %}

{% if stats.skills %}
<h3>Skills</h3>
{% for skill, score in stats.skills.items(): %}
    {{skill}} {{score}},
{% endfor %}
{% endif %}

{% if stats.damage_vulnerabilities %}
<h3>Damage vulnerabilities</h3> 
    {% for damage_vulnerability in stats.damage_vulnerabilities: %}
        {{damage_vulnerability}},
    {% endfor %}
{% endif %}

{% if stats.damage_resistances %}
<h3>Damage resistances</h3> 
    {% for damage_resistance in stats.damage_resistances: %}
        {{damage_resistance}},
    {% endfor %}
{% endif %}

{% if stats.damage_immunities %}
<h3>Damage immunities</h3> 
{% for damage_immunity in stats.damage_immunities: %}
    {{damage_immunity}},
{% endfor %}
{% endif %}

{% if stats.condition_immunities %}
<h3>Condition immunities</h3> 
{% for condition_immunity in stats.condition_immunities: %}
    {{condition_immunity}},
{% endfor %}
{% endif %}

{% if stats.special_senses %}
<h3>Senses</h3> 
{% for sense, score in stats.special_senses.items(): %}
    {{sense}} {{score}},
{% endfor %}
{% endif %}

{% if stats.languages %}
<h3>Languages</h3> 
{% for language in stats.languages: %}
    {{language}},
{% endfor %}
{% endif %}

<h3>Other</h3>
{% if stats.passive_perception %}
Passive perception: {{stats.passive_perception}}
<br>
{% endif %}

{% if stats.challenge %}
Challenge: {{stats.challenge}}
{% endif %}


{% if stats.special_traits %}
<h3>Special traits</h3>

{% for name, description in stats.special_traits.items(): %}
{{name.capitalize()}}: {{description}} <br>
{% endfor %}
{% endif %}

</html>