<html>
{% if npc.deceased %}
  <h2>{{npc.name}} (deceased)</h2> 
{% else %}
  <h2>{{npc.name}}</h2> 
{% endif %}
  <hr>

  {% if npc.stats %}
  Stats: <a href="monster://{{npc.stats_base}}">{{npc.stats.alignment.capitalize()}} {{npc.stats.name}} ({{npc.stats.size.capitalize()}} {{npc.stats.creature_type}})</a>
  <br>
  {% endif %}
  
  Appearance: {{npc.appearance}}
  {% if npc.accent %}
    Accent: {{npc.accent}}
  {% endif %}

  {% if npc.temperament %}
  {{npc.temperament or ""}}
  {% endif %}

  {% if npc.background %}
  {{npc.background or ""}}
  {% endif %}

{% if npc.phrases %}
  <h3>Phrases</h3>
  <ul>
    {% for phrase in npc.phrases %}
    <li>{{phrase}}</li>
    {% endfor %}
  </ul>
{% endif %}

</html>